@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap");

/* Full-screen hero section */
.hero-section {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

/* Wrapper for the YouTube video */
.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

/* Ensure video covers the entire screen */
iframe {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Black overlay to darken the video */
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust opacity here */
  z-index: 1;
}

/* Historical text in the top-left corner */
.hero-text {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
  color: #fff;
  font-family: "Cinzel", serif; /* Historical font */
  font-size: 2.5rem;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8); /* Add text shadow for readability */
}

.hero-text h1 {
  margin: 0;
}

/* Bouncing arrow at the bottom of the hero section */
.bouncing-arrow {
  position: absolute;
  bottom: 6rem;
  z-index: 2;
  cursor: pointer; /* Make the arrow clickable */
}

/* Circular background for the arrow */
.arrow-bg {
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent circle */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

/* Arrow style */
.arrow-bg span {
  font-size: 32px;
  color: #fff;
}

/* Arrow hover effect */
.arrow-bg:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

/* Keyframes for the bouncing animation */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}

.bouncing-arrow .arrow-bg {
  animation: bounce 2s infinite;
}

@media only screen and (max-width: 1200px) {
  .hero-text {
    font-size: 2rem;
    top: 15px;
    left: 15px;
  }
  .hero-section {
    height: 30rem;
  }
  .bouncing-arrow {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .hero-text {
    font-size: 1rem;
    top: 10px;
    left: 10px;
  }

  .hero-section {
    height: 17rem;
  }
}
